div .action-list {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    height:200px;
    gap: 5px;
    overflow-y: scroll;
}

div .action-list li {
    margin:0px;
    margin-top: 10px;
    font-size: 0.9rem;
    margin-left: 50px;
    list-style-type: circle;
}

@media screen and (min-width: 431px) {
    div .action-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        text-align: left;
    }
    
    div .action-list li {
        margin:0px;
        font-size: 1.3rem;
        font-weight: 500;
        margin-left: 50px;
        margin-bottom: 10px;
        list-style-type: circle;
        
    }
}

 /* SUBJECT LIST STYLING */

div .subject-list {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    height:200px;
    gap: 5px;
    overflow-y: scroll;

}

div .subject-list li {
    margin:0px;
    margin-top: 10px;
    font-size: 0.9rem;
    margin-left: 50px;
    list-style-type: circle;
   
}

@media screen and (min-width: 431px) {
    div .subject-list {
        display: grid;
        grid-template-columns: 1fr;
        text-align: left;
    }
    
    
    div .subject-list li {
        margin:0px;
        font-size: 1.3rem;
        font-weight: 500;
        margin-left: 50px;
        list-style-type: circle;
        margin-bottom: 10px;
    }
}