div .action-list {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    height:200px;
    gap: 5px;
    overflow-y: scroll;
}

div .action-list li {
    margin:0px;
    margin-top: 10px;
    font-size: 0.9rem;
    margin-left: 15px;
    list-style-type: circle;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
}

.action-list li.fade-in {
    opacity: 1;
}  


/* REMOVE BUTTON DESIGN */

.remove-button{
    float: right;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}


 /* SUBJECT LIST STYLING */

div .subject-list {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    height:200px;
    gap: 5px;
    overflow-y: scroll;

}

div .subject-list li {
    margin:0px;
    margin-top: 10px;
    font-size: 0.9rem;
    margin-left: 15px;
    list-style-type: circle;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
}

.subject-list li.fade-in {
    opacity: 1;
}  

/* DESKTOP STYLING */

@media screen and (min-width: 431px) {
    div .subject-list {
        display: grid;
        grid-template-columns: 1fr;
        text-align: left;
    }
    
    
    div .subject-list li {
        margin:0px;
        font-size: 1.3rem;
        font-weight: 500;
        margin-left: 30px;
        list-style-type: circle;
        margin-bottom: 10px;
    }

    div .action-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        text-align: left;
    }
    
    div .action-list li {
        margin:0px;
        font-size: 1.3rem;
        font-weight: 500;
        margin-left: 30px;
        margin-bottom: 10px;
        list-style-type: circle;
    }
    

    .remove-button{
        float: right;
        margin-right: 20px;
        width: 25px;
        height: 25px;
        font-size: large;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}