@import url(//fonts.googleapis.com/css?family=Patrick+Hand+SC|Bangers|Happy+Monkey);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    width: 80vw;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 2rem;
    box-shadow: 5px 5px #ffce55;
    border: 2px solid black;
    border-radius: 10%; /* Could be more or less, depending on screen size */
  }

  .modal-content h2 {
    font-size: 2.7rem;
    font-family: "bangers";
    margin-bottom: 10px;
    margin-left: 5px;
    text-shadow: 3px 3px #ffce55;
  }

  .modal-content ol {
    text-overflow: wrap;
    margin-left: 20px;
    padding: 5px;
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 1rem;
    text-align: justify;
    font-family: "happy monkey";
  }
  
  .modal-content li {
    margin-bottom: 5px;

  }
  /* The Close Button */
  .close-x {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-x:hover,
  .close-x:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  /* Style the tab */
.setting-tabs {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid black;
    background-color: #f1f1f1;
    border-radius: 5%;
  }
   
.setting-btns {
  display: flex;
  justify-content: space-evenly;
}

.setting-btns button {
  font-family: "bangers";
  font-size: 1.2rem;
}

  /* Style the buttons that are used to open the tab content */
  .tab-title {
    display: block;
    width: 100%;
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab-title:hover {
    background-color:#fa9939;
  }
  
  /* Create an active/current tablink class */
  .setting-tabs button.active {
    background-color: #f3655d;
  }
/* Style the tab container*/

  .tab-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  /* Style the tab content */
 .tab-content {
    display: none;
    padding: 6px 12px;
    width: 100%;
    border-top: 1px solid;
  }

  .tab-content.active {
    display: block;
  }


  .action-heading h1, .subject-heading h1 {
    font-family: "bangers";
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  form {
    margin-bottom: 10px;
  }

  form input {
    width: 60%;
    margin-right: 10px;
    font-family: "happy monkey";
  }
  
  form button {
    width: 30%;
    font-family: "happy monkey";
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: -10px;
  }

  /* BIGGER SCREEN STYLING */

  @media only screen and (min-width: 431px) {
    .modal-content {
      max-width: 600px;
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 2rem;
      box-shadow: 5px 5px #ffce55;
      border: 2px solid black;
      border-radius: 10%; /* Could be more or less, depending on screen size */
    }
  
    .modal-content h2 {
      font-size: 3.7rem;
      font-size: 3.7rem;
      font-family: "bangers";
      margin-bottom: 10px;
      margin-left: 5px;
    }
  
    .modal-content ol {
      text-overflow: wrap;
      margin-left: 20px;
      padding: 5px;
      margin-bottom: 10px;
      line-height: 1.2;
      font-size: 1.1.1rem;
      text-align: justify;
      font-family: "happy monkey";
    }
    
    .modal-content li {
      margin-bottom: 10px;
  
    }
    /* The Close Button */
    .close-x {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close-x:hover,
    .close-x:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  
  
    /* Style the tab */
  .setting-tabs {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      border: 2px solid black;
      background-color: #f1f1f1;
      border-radius: 7%;
    }
     
  .setting-btns {
    display: flex;
    justify-content: space-evenly;
  }
  
  .setting-btns button {
    font-family: "bangers";
    font-size: 1.7rem;
  }
  
  
    .action-heading h1, .subject-heading h1 {
      font-family: "bangers";
      font-size: 2.2rem;
      letter-spacing: 1px;
      margin-bottom: 15px;
      margin-top: 10px;
      margin-left: 10px;
    }
  
    form {
      margin-bottom: 10px;
      margin-left: 10px;
    }
  
    form input {
      width: 60%;
      margin-right: 30px;
      font-family: "happy monkey";
      height: 2rem;
      font-size: 1.3rem;
    }
    
    form button {
      width: 30%;
      font-family: "happy monkey";
      font-size: 1.3rem;
      font-weight: 500;
      letter-spacing: 1px;
      height: 2rem;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      outline: none;
      border-radius: 5px;
      z-index: 0;
      background: #fff;
      overflow: hidden;
      border: 2px solid black;
      color: black;
    }

    form button:hover {
      color: #fff;
      border: #ffce55
      height: 2rem;
    }
  

  }
    form button:hover:after {
      width: 100%;
    
   }
  
    form button:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #ffce55;
   ;
  }