/*===========================
START // General Page/Layout
============================*/
@import url(//fonts.googleapis.com/css?family=Patrick+Hand+SC|Bangers|Happy+Monkey);
/* LAYOUT */
.whole-container {
  width: 100%;
  height: auto;
  margin: -10px;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", sans-serif;
  color: #222;
}

p,
ul,
li,
ol {
  font-family: "Happy Monkey", cursive;
  color: #222;
}

.panel {
  /* padding: 1em; */
  background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 50% 50%;
  border-top: 3px solid #444444;
  margin-bottom: -4px;

}
.panel.red {
  background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #FFCE55 0, #FFCE55 30%, #FFCE55 50%, #FFCE55 70%, #FFCE55 100%);
}




