@import '//fonts.googleapis.com/css?family=Bangers';

body { margin:0; }

.timer{
    text-align:center;
    font-family:Bangers;
    color:rgb(234, 40, 40);
    font-size:35px;
    letter-spacing:2px;
  animation: wiggle 1s infinite;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   25% { transform: rotate(3deg); }
   50% { transform: rotate(0deg); }
   75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}

.timer:hover {
    animation: none;}

.StartTimer {
    text-align:center;
    font-family:Bangers;
    color:rgb(0, 0, 0);
    font-size:35px;
    border-radius: 10px;
}


